<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-2" *ngIf="userService.connectedUser.id == null">
      <a routerLink="/register" class="btn btn-primary">Inscrption</a>
    </div>
    <div class="col-2" *ngIf="userService.connectedUser.id == null">
      <a routerLink="/connection" class="btn btn-primary">Connection</a>
    </div>
    <div class="col-2" *ngIf="userService.connectedUser.id">
      <a routerLink="/home-user" class="btn btn-primary">Home</a>
    </div>
    <div class="col-2 offset-6" *ngIf="userService.connectedUser.id">
      <a class="btn btn-success" routerLink="/profil-user">Profil</a>
    </div>
    <div class="col-2" style="color: white" *ngIf="userService.connectedUser.id">
      <a class="btn btn-danger" (click)="disconnectUser()">Déconnexion</a>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

