<div class="valid-feedback mt-2 mb-2" id="success-connection">Connection Réussie</div>
<div class="valid-feedback" id="success-inscription">Inscriptioon Réussie</div>
<div class="row">
    <div class="col-12">
        <h3>Connexion</h3>
    </div>
    <div class="col-6">
        <div class="">
            <label for="">Adresse mail</label>
        </div>
        <div class="">
            <input id="connection-email" type="text" class="form-control">
        </div>
    </div>
    <div class="col-6">
        <div class="">
            <label for="">Mot de passe</label>
        </div>
        <div class="">
            <input type="password" id="connection-pwd" class="form-control"> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5 mt-2">
        <button id="btn-connection" class="btn btn-success">Valider</button>
    </div>
</div>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../script.js"></script>